.header{
    position: relative;
    padding: 15px;
    background-color: #2a1f3d;
    text-align: center;
    color: #dcd6ef;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 30px;
    border: 1px solid #65537f;
    border-radius: 4px;
}

.footer {
     position: relative;
    padding: 15px;
    background-color: #2a1f3d;
    text-align: center;
    color: #dcd6ef;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 30px;
    border: 1px solid #65537f;
    border-radius: 4px;
}

.box{
    position: relative;
    padding: 15px;
    background-color: #2a1f3d;
    text-align: center;
    color: #dcd6ef;
    font-size: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 30px;
    border: 1px solid #65537f;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: center;
}

body{
    background-color: #2d2145;
    text-align: center;
    color: #dcd6ef;
}

.gap{
    padding-bottom: 10px;
}

.colorpallet {
    width: 100px;
    height: 50px;
    margin: 5px;
    border: 1px solid #65537f; 
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161616   
}
  
  .colorpallet1 {
    background-color: #2a1f3d;
    color: #dcd6ef;
}
  
  .colorpallet2 {
    background-color: #2d2145;
    color: #dcd6ef;
}
  
  .colorpallet3 {
    background-color: #362a51;
    color: #dcd6ef;
}
  
  .colorpallet4 {
    background-color: #483663;
}
  
  .colorpallet5 {
    background-color: #65537f;
}
  
  .colorpallet6 {
    background-color: #dcd6ef;
}